@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.container {
  @include flexbox();
  height: 85vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}

h1,
h3 {
  text-align: center;
}

input.search-term {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: #000;
  border-radius: 0;
  font-size: 3rem;
  display: none;
  width: 500px;

  &:focus {
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 5px;
    border-color: #f3003d;
    border-radius: 0;
  }
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

#typed-cursor{
  opacity: 1;
  font-weight: 100;
  font-size: 30px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;

  svg {
    bottom: 0;
    width: 5rem;
    height: 5rem;

    &:hover {
      fill: #f3003d;
    }
  }
}
